@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600;700&family=Space+Grotesk:wght@500&display=swap');


.grass{
    background-color: #74CB48;
    font-family: poppins;
}

.fire {
    background-color: orangered;
    color: black;
    font-family: poppins;
}

.poison{
    background-color: #B97FC9;
    color: black
}

.flying{
    background-color: #A891EC;
    color: black;
}

.fighting{
    background-color: #C12239;
    color: black;
}

.normal{
    background-color: #AAA67F;
    color: black;
}

.water{
    background-color: #6493EB;
    color: black;
}

.ground{
    background-color: #DEC16B;
    color: black;
}

.rock{
    background-color: #B69E31;
    color: black;
}

.bug{
    background-color: #A7B723;
    color: black;
}

.ghost{
    background-color: #70559B;
    color: black;
}

.ice{
    background-color: #9AD6DF;
    color: black;
}

.dragon{
    background-color: #7037FF;
    color: black;
}

.dark{
    background-color: #75574C;
    color: black;
}

.steel{
    background-color: #B7B9D0;
    color: black;
}

.fairy{
    background-color: #E69EAC;
    color: black;
}
.electric{
    background-color: #F9CF30;
    color: black;
}

.psychic{
    background-color: #FB5584;
    color: black;
}



.grass p{
    background-color: white;
    color: #74CB48;
}


.poison li {
    background-color: #B97FC9;
}

.poison p{
    color: black;
}



.contenedor {
    background-color: white;
}

.pokestatscontainer{
    display: flex;
    gap: 5px;
}

.pokestats{
    font: 400;
}

.pokestatsvalues{
    font: 400;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.pokestatsbars{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
}

.statvalues{
    color: black;
}

.padre{
    position: absolute;
    z-index: 1;
}