@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600;700&family=Space+Grotesk:wght@500&display=swap");

.pokemon_card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grass {
  background-color: #74cb48;
  font-family: poppins;
}

.fire {
  background-color: orangered;
  color: black;
  font-family: poppins;
}

.poison {
  background-color: #b97fc9;
  color: black;
}

.flying {
  background-color: #a891ec;
  color: black;
}

.fighting {
  background-color: #c12239;
  color: black;
}

.normal {
  background-color: #aaa67f;
  color: black;
}

.water {
  background-color: #6493eb;
  color: black;
}

.ground {
  background-color: #dec16b;
  color: black;
}

.rock {
  background-color: #b69e31;
  color: black;
}

.bug {
  background-color: #a7b723;
  color: black;
}

.ghost {
  background-color: #70559b;
  color: black;
}

.ice {
  background-color: #9ad6df;
  color: black;
}

.dragon {
  background-color: #7037ff;
  color: black;
}

.dark {
  background-color: #75574c;
  color: black;
}

.steel {
  background-color: #b7b9d0;
  color: black;
}

.fairy {
  background-color: #e69eac;
  color: black;
}
.electric {
  background-color: #f9cf30;
  color: black;
}

.psychic {
  background-color: #fb5584;
  color: black;
}

.poison li {
  background-color: #b97fc9;
}

.poison p {
  color: black;
}

.pokemon__header {
  display: flex;
  justify-content: space-between;
  width: 320px;
  /* padding: 20px;*/
}

.pokemon__back {
  width: 32px;
  height: 32px;
}

.pokemon__name__container {
  display: flex;
  color: white;
  align-items: center;
}
.pokemon__id__container {
  display: flex;
  color: white;
  align-items: center;
}

#pokemon__name {
  color: white;

  /* Header/Headline */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  text-transform: capitalize;
}

.pokemon__id__container {
}

.pokemon__img {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.contenedor {
  background-color: white;
  width: 360px;
  position: relative;
  top: -70px;
}

.pokemon__types {
  position: relative;
  top: 30px;
  display: flex;
  gap: 5px;
  border: radius 5px;
  justify-content: center;
}
.typepill {
  border-radius: 20px;
  padding: 5px;
  display: flex;
  padding: 2px 8px;
  flex-direction: column;
  color: white;
  font-size: 10px;
  font-weight: 400;
}
.pokestatscontainer {
  display: flex;
  gap: 5px;
}

#pokemon__stats__container {
  color: var(--Grayscale-Dark, #1d1d1d);
  text-align: justify;

  /* Body/Body 3 */
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */
}
.pokemon__stats {
  display: none;

  box-sizing: border-box;
}
.pokestats {
  font: 400;
}

.pokestatsvalues {
  font: 400;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.pokestatsbars {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 15px;
}

.statvalues {
  color: black;
}

.padre {
  position: absolute;
  z-index: 1;
}

.pokemon__stats {
  display: flex;
  gap: 5px;
}

.pokemon__height {
  display: flex;
  gap: 5px;
 
  align-items: center;
}

.heightimg {
  rotate: 90deg;
  width: 16px;
  height: 16px;
}

.pokemon__weight {
  display: flex;
  gap: 5px;
  align-items: center;
}

.weightimg {
  width: 16px;
  height: 16px;
}
