.pokesearch {
  display: flex;
  padding: 8px 16px 8px 12px;
  align-items: center;
  width: 360px;
  gap: 8px;
  flex: 1 0 0;

  border-radius: 16px;
  background: var(--grayscale-white, #fff);

  /* Inner Shadow/2 dp */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
  margin-bottom: 50px;
}

.pokelupa {
  width: 20px;
  height: 20px;
}

.pokesearchbar {
  color: var(--grayscale-medium, #666);
  flex: 1 0 0;
  /* Body/Body 3 */
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */
  border: none;
}

.pokeclose{
    width: 20px;
    height: 20px;
}

.pokefilterimg{
    width: 20px;
    height: 20px;
}

.pokemodal{
  background-color: #DC0A2D;
}

.sortoptions{
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
}
